.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
..App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex-container {
  display: flex;
  width: 100%;
}
.card-holder {
  width: 30%;
  margin: 1%;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  cursor: pointer;
}
.result-container {
  border: 2px solid blue;
  border-radius: 50px;
  width: 50%;
  margin-left: 25%;
}
.variable-holder {
  width: 40%;
  margin-top: 50px;
}
.result-holder {
  width: 60%;
}
.result-label {
  margin-top: 20px;
}
.calc-result {
  width: 25%;
  border: 1px solid gray;
  border-radius: 30px;
  margin-left: calc(50% - 12.5%);
  margin-top: 20px;
}
.result-value {
  margin-top: 0px;
  margin-left: 30px;
  font-size: 50px;
}
.selected {
  border: 2px solid blue;
  color: blue;
}
.input-check {
  border: none;
  width: 250px;
  margin-top: 20px;
  color: gray;
  border-bottom: 1px solid gray;
}
.input-check:focus {
  outline: none;
  outline-offset: none;
  color: blue;
  border-bottom: 1px solid blue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
